/* ROOT COLOR*/
:root {
  /* Navy blue HEDER*/
  --heading-color: #2e2f42;
  /* LIGHT SLATE*/
  --address-color: #8e8f99;
  /* CLOUD button, hero-text */
  --wight-color: #ffffff;
  /*SLATE*/
  --body-color: #434455;
  /*HOVER LINKS OCEAN*/
  --hover-color: #404bbf;
  /*iris* logo, btn*/
  --btn-color: #4d5ae5;
  --hero-bgc: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.mail, .tel{
  padding: 24px 0 ;
}
button {
  cursor: pointer;
  border-radius: 4px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img-shad {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* HEDDER>>>>>>>>>>>>>>>>>> LOGO + NAV + ADDRESS*/
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E7E9FC;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>LOGO */
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 24px 0;
  margin-right: 76px;
}

.logo span {
  color: #2e2f42;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>NAVIGATION */
.link-menu {
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  color: var(--heading-color);
  display: inline-flex;
  padding: 24px 0;
}

.link-menu:hover,
.link-menu:focus {
  color: var(--hover-color);
}

.header-menu li:not(:last-child) {
  margin-right: 40px;
}

.navig_menu {
  display: inline-flex;
}

.adres_menu {
  list-style: none;
  display: flex;
  padding-right: 30px;

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>ADDRESS*/
.header-adr {
  margin-left: auto;
}

.position-adres {
  margin-right: 40px;
}

.address_link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
  font-style: normal;
  text-decoration: none;
  
}

.address_link:hover,
.address_link:focus {
  color: #404bbf;
}

.activ {
  color: var(--hover-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BLOCK HERO*/
.hero {
  background-color: var(--hero-bgc);
  padding-top: 188px;
  padding-bottom: 188px;
}

.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.herotitle {
  display: inline-flex;
  margin: 0;
  flex-direction: column;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--wight-color);
  text-align-last: center;
}

.herobtn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--wight-color);
  background: var(--btn-color);
  cursor: pointer;
  font-size: 16px;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
}

.herobtn:hover {
  background: var(--hover-color);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MOTIVATION SECTION*/

.container-m {
  box-sizing: border-box;
  width: 1158px;
  display: flex;
  align-items: center;
  list-style: none;
}

.container-m :not(:last-child) {
  margin-right: 24px;
}
.weig_li{
  width: 264px;
}
.motivation.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--heading-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.motivation.text {
  line-height: 1.5;
  color: var(--body-color);
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Our Services*/
/*THIS container*/
.container-wawdoing {
  display: flex;
  list-style: none;
  flex-direction: row;
  box-sizing: border-box;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: flex-start;
}
.weig_li_waw {
  width: 360px;
}
.wawdoing.section {
  padding-top: 0;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Our TEAM*/
.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-photo {
  display: block;
  width: 264px;
}

.section-title {
  margin-bottom: 70px;
}

/* .container-footer{
  padding: 0;
} */
.container-team-card {
  width: 1158px;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
}

.team-list {
  background: #ffffff;
}

.team-list :not(:last-child) {
  margin: 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);

  margin-bottom: 8px;
}

.team-job {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FOOTER>>>LOGO+TEXT*/
.footer {
  background-color: var(--heading-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.footer-logo {
  display: inline-block;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  text-decoration: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.footer {
  padding: 100px 0;
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
}

.container-footer {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>PROGECT LIST( NAVIGATION IN HEADER)*/

.container-main-portf {
  display: flex;
  box-sizing: border-box;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portf_navig_container {
  display: inline-flex;
  row-gap: 20px;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}

.portf_navig_container li {
  padding: 0px;
}

.portf_navig_container button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 24%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-contant {
  font-weight: 500;
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.project-text {
  color: var(--body-color);
  margin-top: 8px;
}

.project li {
  list-style: none;
}

.project button {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-color);
}

.project button:hover,
.project button:focus {
  background: var(--hover-color);
  color: var(--wight-color);
}
